<!DOCTYPE html>
<html>
<head>
    <title>Learn Programming</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .card {
            background-color: #333;
            transition: transform .2s; /* Animation */
        }

            .card:hover {
                transform: scale(1.05); /* Scale the card on hover */
            }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

   @*  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Programming Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Views/Home/Courses.cshtml">Courses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Areas/Identity/Pages/Index.cshtml">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
 *@
    <div class="container">
        <div class="row">
            <!-- Existing Cards for C and Python -->
            <!-- JavaScript -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="javascript-icon.png" class="card-img-top" alt="JavaScript Programming Language">
                    <div class="card-body">
                        <h5 class="card-title">Learn JavaScript</h5>
                        <p class="card-text">The language of the Web.</p>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
            <!-- Java -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="java-icon.png" class="card-img-top" alt="Java Programming Language">
                    <div class="card-body">
                        <h5 class="card-title">Learn Java</h5>
                        <p class="card-text">Write once, run anywhere.</p>
                        <a href="https://www.java.com/en/learn/" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
            <!-- C# -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="csharp-icon.png" class="card-img-top" alt="C# Programming Language">
                    <div class="card-body">
                        <h5 class="card-title">Learn C#</h5>
                        <p class="card-text">Versatile language for Windows, Web, and mobile apps.</p>
                        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
            <!-- Ruby -->
           
                </div>
            </div>
            <!-- PHP -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="php-icon.png" class="card-img-top" alt="PHP Programming Language">
                    <div class="card-body">
                        <h5 class="card-title">Learn PHP</h5>
                        <p class="card-text">A popular general-purpose scripting language that is especially suited to web development.</p>
                        <a href="https://www.php.net/manual/en/intro-whatis.php" class="btn btn-primary">Start Learning</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
